* {
	margin: 0 auto;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
}

body { background-color: #b75f02; }

h1{
	display: inline;
}

a:link, a:visited {
	text-decoration: none;
	border: none;
}

a:hover, a:active {
	text-decoration: underline;
	border: none;
}

textarea{
	display:block;
	margin-top:10px;
}

 #logo{
 	background: url(/ComuniDiceWeb/imgs/header.png);
	width: 900px;
	height: 50px;
	padding-bottom:40px;
	margin-right: auto;
	margin-left: auto;
 }
 
 #logo h1{
 	color: #ff9c00;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	display: inline;
 }

#user-menu{
	background: url(/ComuniDiceWeb/imgs/bg_big_menu.gif);
	width: 900px;
	height: 50px;
	padding-top:10px;
	margin-right: auto;
	margin-left: auto;
	text-align:right;
}

#user-menu a , #user-menu p{
	color: #f6ae2c;
	font-variant: small-caps;
	font-size: 1.3em;
	padding: 0 30px;
}

#busqueda {
	background: url(/ComuniDiceWeb/imgs/busqueda.gif) no-repeat;
	width: 900px;
	height: 250px;
	margin-left: auto;
	margin-right:auto;
}

#busqueda-content{
	width:750px;
	position: absolute;
	margin-top: 30px;
	margin-left:80px;
}

#busqueda p{
	color: #906014;
	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
	display: inline;
}

#hiddenCriteria, #hiddenUsuario{
	visibility:hidden;
}

#productoCheck:checked ~ #hiddenCriteria{
	visibility:visible;
}

#usuarioCheck:checked ~ #hiddenUsuario{
	visibility:visible;
}

.content{
	background:url(/ComuniDiceWeb/imgs/middle_frame.gif) repeat-y;
	margin-left: auto;
	margin-right:auto;
	width: 900px;
	text-align:center;
}

.content p{
	color: #906014;
}

.resultado{
	text-align:center;
	background:url(/ComuniDiceWeb/imgs/pachemin1.gif) no-repeat;
	height:100px;
	width:450px;
}
.resultado p, .resultado a{
	position:relative;
	top:20px;
	color: #5d3e0e;
}

#perfilUsuario{
	text-align:center;
}

#perfilUsuario p, #perfilUsuario a{
	margin-left:10px;
}

#perfilFondo{
	text-align:justify;
	background-color: #e0c296;
    border: 3px solid #431718;
	width: 350px;
	margin-top: 10px;
}

.resultadoSinFondo{
	background-color: #e0c296;
    border: 3px solid #431718;
	width: 250px;
	margin-top: 10px;
}

.resultadoSinFondo p, .resultadoSinFondo a{
	color: #906014;
	text-align:left;
	margin-left:5px;
}

.carrito{
	text-align:justify;
}

#vistaDetalleProducto{
	text-align:justify;
}

#vistaDetalleProducto p, #vistaDetalleProducto a, #vistaDetalleProducto form{
	margin-left:15px;
}

#enviarComentario{
	align:center;
}

footer{
	background: url(/ComuniDiceWeb/imgs/bg_footer.gif) no-repeat;
	width: 900px;
	height:250px;
	margin-left: auto;
	margin-right:auto;
}

.dropbtn {
    width: 150px;
    color: #ff9c00;
    padding: 16px;
    font-size: 16px;
    margin-right: 4px;
    cursor: pointer;
}

.menudes-contido p:hover,
.menudes-contido p:focus {
    background-color: #ff9c00;
}

.menudes {
    position: relative;
    display: inline-block;
}

.menudes-contido {
    display: none;
    position: absolute;
    background-color: #eed6b3;
    min-width: 160px;
    overflow: auto;
    border: 3px solid #431718;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menudes-contido a {
    color: #ff9c00;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menudes a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}